@import '../../style.scss';

.messenger {
  @include themify($themes) {
    height: calc(100vh - 70px);
    display: flex;
    background-color: themed('bg');
    color: themed('textColor');
    .chatmenu {
      flex: 3.5;
      .chatmenuwrapper {
        padding: 10px;
        height: 100%;
        .topsear {
          display: flex;
          flex-direction: row;
          input {
            width: 90%;
            padding: 10px 0px;
            background-color: themed('bg');
            color: orangered;
            border: none;
            border-bottom: 1px solid orangered;
          }
        }

        .conversations {
          display: flex;
          align-items: center;
          padding: 10px;
          cursor: pointer;
          margin-top: 20px;
          &:hover {
            background-color: orangered;
          }
          .conversationimg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
          }
          .conversationame {
            font-weight: 500;
          }
        }
      }
    }
    .chatbox {
      flex: 5.5;

      .chatboxwrapper {
        // padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .chatboxtop {
          height: 90%;
          overflow: scroll;
          overscroll-behavior: none;
          padding-right: 10px;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        .chatboxbottom {
          margin-top: 5px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          .chatmessageinput {
            border: none;
            width: 80%;
            padding: 5px;
          }
          .chatsubmmitbutton {
            width: 70px;
            height: 40px;
            border: none;
            border-radius: 5%;
          }
        }
        .noconv {
          position: absolute;
          top: 10%;
          font-size: 30px;
          color: orangered;
          // text-align: center;
          cursor: default;
        }
      }
    }
    .chatonine {
      flex: 3;
      .chatonlinewrapper {
        padding: 10px;
        height: 100%;
      }
    }
  }
}
